<section class="advantages" id="advantages">
  <div class="container">
    <div class="advantages-container">
    <div class="advantages-header">
      <h2 class="section-title advantages-title">Чому обрати нас?</h2>
      <h3 class="advantages-subtitle">Переваги</h3>
    </div>
    <p class="advantages-text">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>
  </div>

    <ul class="advantages-list">
      <li class="advantages-item">
        <div class="advantages-card">
          <div class="advantages-img-wrapper">
            <picture>
              <source
                srcset="
                  /img/advantages-img/advant-1-desk.jpg    1x,
                  /img/advantages-img/advant-1-desk-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  /img/advantages-img/advant-1-tab.jpg    1x,
                  /img/advantages-img/advant-1-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/advantages-img/advant-1-mob.jpg    1x,
                  /img/advantages-img/advant-1-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="img-advantages"
                src="/img/advantages-img/advant-1-mob.jpg"
                alt="Стійкість та екологічність"
                width="288"
                height="198"
              />
            </picture>
          </div>
          <h4 class="advantages-card-subtitle">Стійкість та екологічність</h4>
          <p class="advantages-card-text">
            Виготовлені з органічної бавовни та переробленого пластику.
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-card">
          <div class="advantages-img-wrapper">
            <picture>
              <source
                srcset="
                  /img/advantages-img/advant-2-desk.jpg    1x,
                  /img/advantages-img/advant-2-desk-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  /img/advantages-img/advant-2-tab.jpg    1x,
                  /img/advantages-img/advant-2-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/advantages-img/advant-2-mob.jpg    1x,
                  /img/advantages-img/advant-2-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="img-advantages"
                src="/img/advantages-img/advant-2-mob.jpg"
                alt="Міцність і довговічність"
                width="288"
                height="198"
              />
            </picture>
          </div>
          <h4 class="advantages-card-subtitle advantages-card-two">
            Міцність і довговічність
          </h4>
          <p class="advantages-card-text">
            Наші сумки мають посилені шви для тривалого використання.
          </p>
        </div>
      </li>
      <li class="advantages-item advantages-item-wide">
        <div class="advantages-card">
          <div class="advantages-img-wrapper">
            <picture>
              <source
                srcset="
                  /img/advantages-img/advant-3-desk.jpg    1x,
                  /img/advantages-img/advant-3-desk-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  /img/advantages-img/advant-3-tab.jpg    1x,
                  /img/advantages-img/advant-3-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/advantages-img/advant-3-mob.jpg    1x,
                  /img/advantages-img/advant-3-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="img-advantages img-advant"
                src="/img/advantages-img/advant-3-mob.jpg"
                alt="Стильний та сучасний дизайн"
                width="288"
                height="198"
              />
            </picture>
          </div>
          <h4 class="advantages-card-subtitle">Стильний та сучасний дизайн</h4>
          <p class="advantages-card-text">
            Мінімалістичні моделі в обмежених серіях для кожного стилю.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
