<section class="assortment" id="assortment">
  <div class="container assortment-container">
    <h2 class="assortment-title">Наші сумки</h2>
    <ul class="assortment-list">
      <li class="assortment-item">
        <div class="assortment-picture">
          <picture>
            <source srcset="
                ./img/assortment-img/assortment-1-desc.jpg    1x,
                ./img/assortment-img/assortment-1-desc@2x.jpg 2x
              " media="(min-width: 1440px)" />
            <source srcset="
                ./img/assortment-img/assortment-1-tab.jpg    1x,
                ./img/assortment-img/assortment-1-tab@2x.jpg 2x
              " media="(min-width: 768px)" />
            <source srcset="
                ./img/assortment-img/assortment-1-mob.jpg    1x,
                ./img/assortment-img/assortment-1-mob@2x.jpg 2x
              " media="(max-width: 767px)" />
            <img class="assortment-img" src="./img/assortment-img/assortment-1-mob.jpg" width="288" height="346"
              alt="photo EcoBag Classic" loading="lazy" />
          </picture>
        </div>
        <div class="assortment-subtitle-text">
          <h3 class="assortment-subtitle">EcoBag Classic</h3>
          <p class="assortment-text">Елегантна та містка сумка для щоденного використання.</p>
          <span class="assortment-price">$25</span>
        </div>
        <button class="assortment-btn" type="button">Купити</button>
      </li>


      <li class="assortment-item">
        <div class="assortment-picture">
          <picture>
            <source srcset="
                ./img/assortment-img/assortment-2-desc.jpg    1x,
                ./img/assortment-img/assortment-2-desc@2x.jpg 2x
              " media="(min-width: 1440px)" />
            <source srcset="
                ./img/assortment-img/assortment-2-tab.jpg    1x,
                ./img/assortment-img/assortment-2-tab@2x.jpg 2x
              " media="(min-width: 768px)" />
            <source srcset="
                ./img/assortment-img/assortment-2-mob.jpg    1x,
                ./img/assortment-img/assortment-2-mob@2x.jpg 2x
              " media="(max-width: 767px)" />
            <img class="assortment-img" src="./img/assortment-img/assortment-2-mob.jpg" width="288" height="346"
              alt="photo EcoTote Shopper" loading="lazy" />
          </picture>
        </div>
        <div class="assortment-subtitle-text">
          <h3 class="assortment-subtitle">EcoTote Shopper</h3>
          <p class="assortment-text">Ідеальна для покупок, з <br />посиленими ручками.</p>
          <span class="assortment-price">$30</span>
        </div>
        <button class="assortment-btn" type="button">Купити</button>
      </li>


      <li class="assortment-item">
        <div class="assortment-picture">
          <picture>
            <source srcset="
                ./img/assortment-img/assortment-3-desc.jpg    1x,
                ./img/assortment-img/assortment-3-desc@2x.jpg 2x
              " media="(min-width: 1440px)" />
            <source srcset="
                ./img/assortment-img/assortment-3-tab.jpg    1x,
                ./img/assortment-img/assortment-3-tab@2x.jpg 2x
              " media="(min-width: 768px)" />
            <source srcset="
                ./img/assortment-img/assortment-3-mob.jpg    1x,
                ./img/assortment-img/assortment-3-mob@2x.jpg 2x
              " media="(max-width: 767px)" />
            <img class="assortment-img" src="./img/assortment-img/assortment-3-mob.jpg" width="288" height="346"
              alt="photo EcoBackpack Urban" loading="lazy" />
          </picture>
        </div>
        <div class="assortment-subtitle-text">
          <h3 class="assortment-subtitle">EcoBackpack Urban</h3>
          <p class="assortment-text">Зручний рюкзак для міста з відділенням для ноутбука.</p>
          <span class="assortment-price">$45</span>
        </div>
        <button class="assortment-btn" type="button">Купити</button>
      </li>


      <li class="assortment-item">
        <div class="assortment-picture">
          <picture>
            <source srcset="
                ./img/assortment-img/assortment-4-desc.jpg    1x,
                ./img/assortment-img/assortment-4-desc@2x.jpg 2x
              " media="(min-width: 1440px)" />
            <source srcset="
                ./img/assortment-img/assortment-4-tab.jpg    1x,
                ./img/assortment-img/assortment-4-tab@2x.jpg 2x
              " media="(min-width: 768px)" />
            <source srcset="
                ./img/assortment-img/assortment-4-mob.jpg    1x,
                ./img/assortment-img/assortment-4-mob@2x.jpg 2x
              " media="(max-width: 767px)" />
            <img class="assortment-img" src="./img/assortment-img/assortment-4-mob.jpg" width="288" height="346"
              alt="photo EcoCrossbody Mini" loading="lazy" />
          </picture>
        </div>
        <div class="assortment-subtitle-text">
          <h3 class="assortment-subtitle">EcoCrossbody Mini</h3>
          <p class="assortment-text">Компактна сумка через плече для найнеобхіднішого.</p>
          <span class="assortment-price">$20</span>
        </div>
        <button class="assortment-btn" type="button">Купити</button>
      </li>


      <li class="assortment-item">
        <div class="assortment-picture">
          <picture>
            <source srcset="
                ./img/assortment-img/assortment-5-desc.jpg    1x,
                ./img/assortment-img/assortment-5-desc@2x.jpg 2x
              " media="(min-width: 1440px)" />
            <source srcset="
                ./img/assortment-img/assortment-5-tab.jpg    1x,
                ./img/assortment-img/assortment-5-tab@2x.jpg 2x
              " media="(min-width: 768px)" />
            <source srcset="
                ./img/assortment-img/assortment-5-mob.jpg    1x,
                ./img/assortment-img/assortment-5-mob@2x.jpg 2x
              " media="(max-width: 767px)" />
            <img class="assortment-img" src="./img/assortment-img/assortment-5-mob.jpg" width="288" height="346"
              alt="photo EcoLunch Bag" loading="lazy" />
          </picture>
        </div>
        <div class="assortment-subtitle-text big">
          <h3 class="assortment-subtitle">EcoLunch Bag</h3>
          <p class="assortment-text">Стильна та практична сумка для обідів.</p>
          <span class="assortment-price">$15</span>
        </div>
        <button class="assortment-btn" type="button">Купити</button>
      </li>


      <li class="assortment-item">
        <div class="assortment-picture">
          <picture>
            <source srcset="
                ./img/assortment-img/assortment-6-desc.jpg    1x,
                ./img/assortment-img/assortment-6-desc@2x.jpg 2x
              " media="(min-width: 1440px)" />
            <source srcset="
                ./img/assortment-img/assortment-6-tab.jpg    1x,
                ./img/assortment-img/assortment-6-tab@2x.jpg 2x
              " media="(min-width: 768px)" />
            <source srcset="
                ./img/assortment-img/assortment-6-mob.jpg    1x,
                ./img/assortment-img/assortment-6-mob@2x.jpg 2x
              " media="(max-width: 767px)" />
            <img class="assortment-img" src="./img/assortment-img/assortment-6-mob.jpg" width="288" height="346"
              alt="photo EcoBeach Tote" loading="lazy" />
          </picture>
        </div>
        <div class="assortment-subtitle-text">
          <h3 class="assortment-subtitle">EcoBeach Tote</h3>
          <p class="assortment-text">Велика сумка для пляжних речей з водонепроникною підкладкою.</p>
          <span class="assortment-price">$35</span>
        </div>
        <button class="assortment-btn" type="button">Купити</button>
      </li>


      <li class="assortment-item">
        <div class="assortment-picture">
          <picture>
            <source srcset="
                ./img/assortment-img/assortment-7-desc.jpg    1x,
                ./img/assortment-img/assortment-7-desc@2x.jpg 2x
              " media="(min-width: 1440px)" />
            <source srcset="
                ./img/assortment-img/assortment-7-tab.jpg    1x,
                ./img/assortment-img/assortment-7-tab@2x.jpg 2x
              " media="(min-width: 768px)" />
            <source srcset="
                ./img/assortment-img/assortment-7-mob.jpg    1x,
                ./img/assortment-img/assortment-7-mob@2x.jpg 2x
              " media="(max-width: 767px)" />
            <img class="assortment-img" src="./img/assortment-img/assortment-7-mob.jpg" width="288" height="346"
              alt="photo EcoTravel Duffle" loading="lazy" />
          </picture>
        </div>
        <div class="assortment-subtitle-text">
          <h3 class="assortment-subtitle">EcoTravel Duffle</h3>
          <p class="assortment-text">Містка дорожня сумка з додатковими кишенями.</p>
          <span class="assortment-price">$60</span>
        </div>
        <button class="assortment-btn" type="button">Купити</button>
      </li>


      <li class="assortment-item">
        <div class="assortment-picture">
          <picture>
            <source srcset="
                ./img/assortment-img/assortment-8-desc.jpg    1x,
                ./img/assortment-img/assortment-8-desc@2x.jpg 2x
              " media="(min-width: 1440px)" />
            <source srcset="
                ./img/assortment-img/assortment-8-tab.jpg    1x,
                ./img/assortment-img/assortment-8-tab@2x.jpg 2x
              " media="(min-width: 768px)" />
            <source srcset="
                ./img/assortment-img/assortment-8-mob.jpg    1x,
                ./img/assortment-img/assortment-8-mob@2x.jpg 2x
              " media="(max-width: 767px)" />
            <img class="assortment-img" src="./img/assortment-img/assortment-8-mob.jpg" width="288" height="346"
              alt="photo EcoKids Bag" loading="lazy" />
          </picture>
        </div>
        <div class="assortment-subtitle-text big-big">
          <h3 class="assortment-subtitle">EcoKids Bag</h3>
          <p class="assortment-text">Яскрава та зручна сумка для дітей.</p>
          <span class="assortment-price">$22</span>
        </div>
        <button class="assortment-btn" type="button">Купити</button>
      </li>
    </ul>
  </div>
</section>