<!-- Section Gallery -->
<section class="feedbacks">
  <div class="container">
    <h2 class="section-title feedbacks-title">Що говорять наші клієнти</h2>

    <ul class="feedback-list">
      <li class="feedback-item">
        <div class="star-list">
          <svg class="star-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-star-fillled"></use>
          </svg>
        </div>

        <p class="feedback-text">
          Сумка дуже зручна та стильна, використовую щодня!
        </p>
        <p class="feedback-author">Анна</p>
      </li>

      <li class="feedback-item">
        <div class="star-list">
          <svg class="star-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-star-fillled"></use>
          </svg>
        </div>

        <p class="feedback-text">
          Відмінна якість матеріалів, приємно здивована.
        </p>
        <p class="feedback-author">Ігор</p>
      </li>

      <li class="feedback-item">
        <div class="star-list">
          <svg class="star-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-star-fillled"></use>
          </svg>
        </div>

        <p class="feedback-text">
          Сумка повністю відповідає опису, рекомендую!
        </p>
        <p class="feedback-author">Олена</p>
      </li>

      <li class="feedback-item">
        <div class="star-list">
          <svg class="star-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-star"></use>
          </svg>
        </div>

        <p class="feedback-text">Швидка доставка та гарне обслуговування.</p>
        <p class="feedback-author">Сергій</p>
      </li>
    </ul>
  </div>
</section>
