<footer class="footer">
  <div class="container footer-container">
    <div class="footer-content">
      <a href="index.html" class="logo-link">
        <svg class="footer-logo">
          <use href="/img/logo.svg"></use>
        </svg>
      </a>

      <nav class="footer-nav">
        <ul class="footer-menu">
          <li class="nav-item">
            <a href="#about" class="nav-link">Про нас</a>
          </li>
          <li class="nav-item">
            <a href="#advantages" class="nav-link">Переваги</a>
          </li>
          <li class="nav-item">
            <a href="#assortment" class="nav-link">Асортимент</a>
          </li>
          <li class="nav-item">
            <a href="#gallery" class="nav-link">Галерея</a>
          </li>
          <li class="nav-item">
            <a href="#feedbacks" class="nav-link">Відгуки</a>
          </li>
          <li class="nav-item">
            <a href="#support" class="nav-link">Контакти</a>
          </li>
        </ul>
      </nav>

      <ul class="footer-social">
        <li class="social-item">
          <a
            href="https://www.instagram.com/"
            class="social-link"
            target="_blank"
          >
            <svg class="social-icon" width="32" height="32">
              <use href="/img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li class="social-item">
          <a
            href="https://www.linkedin.com/"
            class="social-link"
            target="_blank"
          >
            <svg class="social-icon" width="32" height="32">
              <use href="/img/icons.svg#icon-linkedIn"></use>
            </svg>
          </a>
        </li>

        <li class="social-item">
          <a
            href="https://www.youtube.com/"
            class="social-link"
            target="_blank"
          >
            <svg class="social-icon" width="32" height="32">
              <use href="/img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-info">
      <address class="footer-address">
        <a href="tel:+380999091122" class="link-phone" title="Подзвонити">
          +38 (099) 909 11 22
        </a>
        <a
          href="mailto:hello@ecotote.com"
          class="link-email"
          target="_blank"
          title="Написати на електронну пошту"
        >
          hello@ecotote.com
        </a>
      </address>

      <div class="copyright-text">&copy; 2025 EcoTote. Всі права захищені.</div>
    </div>
  </div>
</footer>
