<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="section-title gallery-title">Галерея зображень</h2>
    <h3 class="gallery-text">EcoTotes у повсякденному житті</h3>

    <ul class="gallery-picture">
      <li class="gallery-item img-1">
        <picture class="gallery-img">
          <source
            srcset="
              /img/gallery/gallery-desk-img-1-1x.jpg 1x,
              /img/gallery/gallery-desk-img-1-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/gallery/gallery-tab-img-1-1x.jpg 1x,
              /img/gallery/gallery-tab-img-1-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/gallery-mob-img-1-1x.jpg 1x,
              /img/gallery/gallery-mob-img-1-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/gallery/gallery-mob-img-1-1x.jpg"
            alt="Еко-сумка, розміщена на стільці біля столу в затишній кав'ярні. На столі стоїть чашка кави, книга або ноутбук. Оздоблення мінімалістичне та естетичне, що нагадує про повільний спосіб життя та усвідомлений вибір."
          />
        </picture>
      </li>

      <li class="gallery-item img-2">
        <picture class="gallery-img">
          <source
            srcset="
              /img/gallery/gallery-desk-img-2-1x.jpg 1x,
              /img/gallery/gallery-desk-img-2-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/gallery/gallery-tab-img-2-1x.jpg 1x,
              /img/gallery/gallery-tab-img-2-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/gallery-mob-img-2-1x.jpg 1x,
              /img/gallery/gallery-mob-img-2-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/gallery/gallery-mob-img-2-1x.jpg"
            alt="Міський пейзаж, де стильний чоловік несе сумку-тоут, переходячи вулицю по пішохідному переході. Міський фон, велосипеди, пішоходи та сучасна архітектура на задньому плані. Сумка сучасна, лаконічна та модна."
          />
        </picture>
      </li>

      <li class="gallery-item img-3">
        <picture class="gallery-img">
          <source
            srcset="
              /img/gallery/gallery-desk-img-3-1x.jpg 1x,
              /img/gallery/gallery-desk-img-3-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/gallery/gallery-tab-img-3-1x.jpg 1x,
              /img/gallery/gallery-tab-img-3-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/gallery-mob-img-3-1x.jpg 1x,
              /img/gallery/gallery-mob-img-3-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/gallery/gallery-mob-img-3-1x.jpg"
            alt="Людина йде парком або природною стежкою, несучи екологічну сумку на плечі. Повсякденний одяг, весняний або літній пейзаж з деревами, травою та м’якими тінями. Сумка рухається природно, як частина моменту життя."
          />
        </picture>
      </li>
      <li class="gallery-item img-4">
        <picture class="gallery-img">
          <source
            srcset="
              /img/gallery/gallery-desk-img-4-1x.jpg 1x,
              /img/gallery/gallery-desk-img-4-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/gallery/gallery-tab-img-4-1x.jpg 1x,
              /img/gallery/gallery-tab-img-4-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/gallery-mob-img-4-1x.jpg 1x,
              /img/gallery/gallery-mob-img-4-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/gallery/gallery-mob-img-4-1x.jpg"
            alt="Молода жінка тримає велику еко-сумку, наповнену свіжими овочами та фруктами, на місцевому фермерському ринку. Тепле сонячне світло, затишна атмосфера, фон з дерев'яними ящиками та зеленню. Сумка має простий, природний дизайн."
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
