<section class="hero">
  <div class="container">
    <div class="hero-text-content-wrapper">
      <h1 class="hero-title">EcoTote — Стиль, що не шкодить планеті.</h1>
      <div class="hero-content-btn-container">
        <p class="hero-text">
          Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
          відповідальність разом з EcoTote.
        </p>
        <a class="button hero-btn" href="#assortment">Купити зараз</a>
      </div>
    </div>
    <div class="img-wrapper">
      <picture class="hero-picture">
        <source
          srcset="
            /img/hero-img/hero-img-desk.jpg    1x,
            /img/hero-img/hero-img-desk-2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            /img/hero-img/hero-img-tab.jpg    1x,
            /img/hero-img/hero-img-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/hero-img/hero-img-mob.jpg    1x,
            /img/hero-img/hero-img-mob-2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="/img/hero-img/hero-img-mob.jpg"
          alt="Стильні різнокольорові сумки з екологічних матеріалів"
        />
      </picture>
    </div>
  </div>
</section>
