.about {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../img/about-img/about-mob-1x.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-resolution: 2x),
    screen and (-webkit-min-device-pixel-ratio: 2) {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../img/about-img/about-mob-2x.jpg');
  }
}

.about-container {
  text-align: center;
}

.about-title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.about-subtitle {
  margin-bottom: 20px;
  color: #fff;
}

.about-text {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .about {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../img/about-img/about-tab-1x.jpg');

    @media screen and (min-resolution: 2x),
      screen and (-webkit-min-device-pixel-ratio: 2) {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../img/about-img/about-tab-2x.jpg');
    }
  }

  .about-title {
    margin-bottom: 16px;
  }

  .about-subtitle {
    margin-bottom: 24px;
  }

  .about-text {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .about {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #2e2f42;
    padding-top: 112px;
    padding-bottom: 94px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../img/about-img/about-desk-1x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (min-resolution: 2x),
      screen and (-webkit-min-device-pixel-ratio: 2) {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../img/about-img/about-desk-2x.jpg');
    }
  }

  .about-title {
    font-size: 20px;
  }

  .about-subtitle {
    font-size: 56px;
  }

  .about-text {
    max-width: 573px;
    margin-right: auto;
    margin-left: auto;
  }
}
