.assortment {
  padding-top: 32px;
  padding-bottom: 32px;
  background: #ebf8ed;
}

.assortment-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.assortment-title {
  text-align: center;
  margin-bottom: 32px;
}

.assortment-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.assortment-picture {
  margin-bottom: 16px;
  border-radius: 32px;
  overflow: hidden;
}

.assortment-subtitle-text {
  text-align: center;
  margin-bottom: 16px;
}

.assortment-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #030a06;
}

.assortment-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  color: #030a06;
  margin-bottom: 8px;
}

.assortment-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  color: #030a06;
}

.assortment-btn {
  width: 288px;
  height: 40px;
  padding: 8px 20px;
  border: 1px solid #030a06;
  background-color: transparent;
  color: #030a06;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.assortment-btn:active {
  border: 1px solid #113916;
  color: #113916;
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .assortment {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .assortment-list {
    gap: 24px;
  }

  .assortment-item {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 24px) / 2);
  }

  .assortment-img {
    width: 340px;
    height: 408px;
  }

  .assortment-subtitle-text {
    width: 340px;
  }

  .assortment-btn {
    margin-top: auto;
    width: 340px;
  }
}

@media screen and (min-width: 1440px) {
  .assortment-title {
    font-size: 48px;
  }

  .assortment-list {
    gap: 64px 24px;
  }

  .assortment-item {
    width: 310px;
    width: calc((100% - 3 * 24px) / 4);
  }

  .assortment-img {
    width: 310px;
    height: 371px;
  }

  .assortment-subtitle-text {
    width: 310px;
  }

  .assortment-btn {
    width: 310px;
  }

  .assortment-btn:hover,
  .assortment-btn:focus {
    opacity: 0.5;
  }
}
