section {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
  section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 6px;
  cursor: pointer;
}

/* h2 section title */
.section-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

@media screen and (min-width: 1440px) {
  .section-title {
    font-size: 48px;
  }
}
